.swiper {
  min-height: 480px !important;
}

.swiper-slide {
  width: 500px !important;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background: #8899b1 !important;
}

@media (max-width: 611px) {
  .swiper-slide {
    width: 450px !important;
  }

  .card-project {
    width: 450px !important;
  }

  .swiper {
    min-height: 450px !important;
  }
}

@media (max-width: 525px) {
  .swiper-slide {
    width: 100% !important;
  }

  .card-project {
    width: 100% !important;
  }
}

@media (max-width: 440px) {
  .swiper {
    min-height: 440px !important;
  }
}

@media (max-width: 375px) {
  .swiper {
    min-height: 400px !important;
  }
}

@media (max-width: 360px) {
  .swiper {
    min-height: 390px !important;
  }
}
