.swiper {
  min-height: 470px !important;
}

.swiper-slide {
  width: 500px !important;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background: #8899b1 !important;
}

@media (max-width: 611px) {
  .swiper-slide {
    width: 450px !important;
  }

  .card-project {
    width: 450px !important;
  }
}

@media (max-width: 585px) {
  .swiper-slide {
    width: 400px !important;
  }

  .card-project {
    width: 400px !important;
  }

  .swiper {
    min-height: 440px !important;
  }
}

@media (max-width: 525px) {
  .swiper-slide {
    width: 100% !important;
  }

  .card-project {
    width: 100% !important;
  }
}

@media (max-width: 428px) {
  .swiper {
    min-height: 410px !important;
  }
}

@media (max-width: 380px) {
  .swiper {
    min-height: 380px !important;
  }
}

@media (max-width: 340px) {
  .swiper {
    min-height: 370px !important;
  }
}
